{% extends 'layout.html' %}

{% block body %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <h3><li class="breadcrumb-item active" aria-current="page">    Animator</li></h3>
  </ol>
</nav>

<div class="container">
	<hr/>
	<div class="header"><center><h1>Stwórz swoją aniamację</h1></center></div>
	<hr/>

<div class="container">
<br><br>
<span class="label label-primary"> Tutaj dodaj swoje zdjęcie </span>
<form method="POST" action="{{ url_for('handle_upload') }}" enctype="multipart/form-data">
<br>
<div class="row">
  <div class="col-md-3">  
  <input name="uploaded_file" type="file"/>
</div>   
<br><br><br>
  <div class="col-md-12">
  <button type="submit" class="btn btn-success">Dodaj zdjęcie</button>
</div>
</div>
</form>
</div>
{% endblock %}
